<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type"= content="text/html;charset=uff-8"/>
<title>jQuery Slider</title>
<style type='text/css'>
slider {
  width 800px,
  height 350px,
  overflow hidden,
  margin:30px auto;
sider img{
  width 800px
  height 350px
  display none
}

body {background-color: rgb(185, 0, 0);}
ul#menu {
    padding: 2;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: rgb(53, 124, 49);
    color: white;
    padding: 10px 60px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: lightgreen;
}
img { 
    width:100%; 
</style>
</head>
<body>
<div class="container"
	<div class="header">
		<h1 class="text-muted">Menu Special</h1>
	</div>
<div id="slider">
<ul class="slides">
<li class="slide"><img src="/photos/5.jpg"/> </li>
<li class="slide"><img src="/photos/6.jpg"/> </li>
<li class="slide"><img src="/photos/7.jpg"/> </li>
<li class="slide"><img src="/photos/8.jpg"/> </li>
<li class="slide"><img src="/photos/5.jpg"/> </li>
</ul>
	</div>
</div>



<ul id="menu">
<center>
  <li><a href="/aboutus">About Us</a></li>
  <li><a href="/first">Home Page</a></li>
  <li><a href="/home">Menu</a></li>
  <li><a href="/gallery">Gallery</a></li>
  <li><a href="/location">Location & Hours</a></li>
</center>
  <br>
  <br>
  <br>
  <br>
  <br>
</ul>  
</body>
</html>
