
<div class="content">
    <div class="title">Admin</div>
    <div class="wrapper">
        <div>
            <label>Headline</label>
            <input type="text" ng-model="current_items.headline">
        </div>
        <div>
            <label>items Label</label>
            <input type="text" ng-model="current_items.items_label">
        </div>
        <div>
            <label>Body</label>
            <textarea ng-model="current_items.body"></textarea>
        </div>
        <div>
            <button ng-click="clearitems()">New</button>
            <button ng-click="saveitems()">Save</button>
        </div>
    </div>
</div>
<div class="list_wrapper">
    <div class="title">items</div>
    <div class="list" ng-repeat="items in page_list">
        <div class="item">
            <a class="link" ng-click="getitems(items.id)">{{ items.items_label }}</a>
        </div>
    </div>
</div>
